/*
  Theme: Mario
*/

// Sizes
$button_width: 48px;
$button_height: 48px;

// Colors
$background_color: #f53a1c;
$interactive_text_color: #000;
$text_color: #fff;
$anchor_color: #000;

// Type
$text_size: 12px;
$font_family: 'Press Start 2P', cursive;

@import "../base/core";